Here KNN example problem

In [7]:
#create a dataset 
data={
    "maths":[4,6,7,5,8],
    "cs":[3,7,8,5,8],
    "result":['f','p','p','f','p']
}
print(data)

{'maths': [4, 6, 7, 5, 8], 'cs': [3, 7, 8, 5, 8], 'result': ['f', 'p', 'p', 'f', 'p']}

In [9]:
import pandas as pd
df=pd.DataFrame(data)
print("This is the total dataset")
df

This is the total dataset

   maths  cs result
0      4   3      f
1      6   7      p
2      7   8      p
3      5   5      f
4      8   8      p

In [10]:
df.shape

(5, 3)

In [11]:
df.dtypes

maths      int64
cs         int64
result    object
dtype: object

In [12]:
df.columns

Index(['maths', 'cs', 'result'], dtype='object')

In [31]:
#Now check for given Math Score=6 and CS score=8 at K=3 pass or fail

In [57]:
# first step find the distance between the observer value and acctual values 
#Euclidian distance=sqrt((observer_value1-acctual_value1)^2+(oberseved_value2-acctual_value2)^2)
import numpy as np
ov1=6
ov2=8
distances={}
for index,row in df.iterrows():
    dist=np.sqrt((row['maths']-ov1)**2+(row['cs']-ov2)**2)
    distances[index]=dist
print(distances)

{0: np.float64(5.385164807134504), 1: np.float64(1.0), 2: np.float64(1.0), 3: np.float64(3.1622776601683795), 4: np.float64(2.0)}

In [60]:
#sort the list 
sorted_dict=dict(sorted(distances.items(),key=lambda item:item[1]))
print(sorted_dict)
#Here run a loop upto 3 indexes and find the most possible answer result either pass or fail

{1: np.float64(1.0), 2: np.float64(1.0), 4: np.float64(2.0), 3: np.float64(3.1622776601683795), 0: np.float64(5.385164807134504)}

In [ ]:
#Given k=3 choose first 3 indexes and look the most repeated labelled answer and classify the answer